.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #2874A6;
  margin: 0px auto;
  padding: 10px 0px;
  color: white;
  font-size: small;
  width: 100%; }
  .footer a {
    color: white; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #3498DB;
  color: floralwhite; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #2874A6; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #2874A6; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

.modal-header {
  background-color: #2874A6;
  color: floralwhite; }
  .modal-header .close {
    color: floralwhite; }

.modal-body {
  background: #AED6F1; }

table {
  border: 0; }
  table td, table tr {
    padding: 0; }

.btn-link {
  color: black;
  text-decoration: none; }

.btn-link:hover {
  color: black;
  text-decoration: none; }

.center {
  align-items: center; }
