$lt-gray: #ddd;
$background-dark: #2874A6;
$background-light: #3498DB;
$background-pale: #AED6F1;

// Height variables
$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}

.row-header{
    @include zero-margin(0px,0px);
}

.row-content {
    @include zero-margin(50px,0px);
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: $background-dark;
    @include zero-margin(10px, 0px);
    color: white;
    font-size: small;
    width: 100%;
    a{
        color: white;
    }
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
    background-color: $background-dark;
}

.tab-content {
    border-left: 1px solid $lt-gray;
    border-right: 1px solid $lt-gray;
    border-bottom: 1px solid $lt-gray;
    padding: 10px;
}

.carousel {
    background:$background-dark;

    .carousel-item {
        height: $carousel-item-height;
        img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 300px;
        }
    }
}

#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.modal-header {
    background-color: $background-dark;
    color:floralwhite;
    .close{
        color:floralwhite;
    }
}

.modal-body {
    background: $background-pale ;
}

table{
    border: 0;
    td,tr{
        padding: 0;
    }
}
.btn-link{
    color: black;
    text-decoration: none;
}
.btn-link:hover{
    color: black;
    text-decoration: none;
}
.center{
    align-items: center;
}